<!DOCTYPE html>
<html>
    <head>
        <title>Conta removida no SIGEP</title>
        <meta charset="UTF-8">
        <style>
            
        </style>
    </head>
    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <%- include('partials/header'); %>

        <div style="padding: 25px 10px 10px 10px;">
            <b style="font-size: 20px;">Caro <%= params.firstName %>,</b><br/><br/>
            <p style="font-size: 14px;">Informamos-lhe que a sua conta no SIGEP foi <u><b>removida</b></u>.</p>
            <p style="font-size: 14px;">Pedimos desculpa por qualquer incómodo.</p><br>
            <b><p>Atenciosamente,</p>
                <p>VolunteeringIPS</p></b>
        </div>

        <%- include('partials/footer'); %>
    </body>
</html>