<div style="padding: 10px; color: white; background-color: #064b7e; border: 1px solid #99cdeb; font-size: 13px;">
    <div style="margin: 10px;">
        <p>Instituto Politécnico de Setúbal, Campus do IPS - Estefanilha 2910-761 | Setúbal - Portugal</p>
        <p style="margin: 0;">Contactos do IPS:</p>
        <p style="margin: 0; padding: 5px">+351 265 709 470 (Assuntos académicos)</p>
        <p style="margin: 0; padding-left: 5px;">+351 265 548 820 (Outros assuntos)</p>
    </div>
</div>