<div style="background-color: #064b7e; border: 1px solid #99cdeb;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Log%C3%B3tipo_do_Instituto_Polit%C3%A9cnico_de_Set%C3%BAbal.png" style="width: 90px; height: 90px; padding: 10px; vertical-align: middle; background-color: white; border-right: 1px solid #99cdeb"/>
    <h1 style="font-weight: bold; margin: 0px; color: white; padding: 10px; padding-left: 5px; display: inline-block;  vertical-align: middle;"> VolunteeringIPS </h1>
</div>